<div ng-controller="ChatCtrl" class="row">

	<div class="row">

		<div class="col-sm-12 message_container">

			<div class="row">
				<div class="line">
					<div class="timestamp">[20:24]</div>
					<div class="author"><@Rolf>: </div>
					<div class="message">this client needs a better layout..this client needs a better layout..this client needs a better layout..this client needs a better layout..this client needs a better layout..this client needs a better layout..this client needs a better layout..</div>
				</div>

				<div class="line">
					<div class="timestamp">[20:24]</div>
					<div class="author"><@Rolf>: </div>
					<div class="message">this client needs a better layout..this client needs a better layout..this client needs a better layout..this client needs a better layout..this client needs a better layout..this client needs a better layout..this client needs a better layout..</div>
				</div>

				<div class="line">
					<div class="timestamp">[20:24]</div>
					<div class="author"><@Rolf>: </div>
					<div class="message">this client needs a better layout..this client needs a better layout..this client needs a better layout..this client needs a better layout..this client needs a better layout..this client needs a better layout..this client needs a better layout..</div>
				</div>
			</div>
			 
		</div>

	</div>

	<div class="row send_row">
		<div class="input-group">
	        <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
	        <span class="input-group-btn">
	        	<button class="btn btn-primary btn-sm" id="btn-chat">Send</button>
	        </span>
	    </div>
	</div>

</div>